.bg-none {
  background-color: rgb(238, 238, 238);
}

.news-p {
  padding-top: 16px;
}

.border {
  border: 1px solid black;
}

#top-adw {
  margin-bottom: 16px;
}

.main-row {
  padding-right: 24px;
  padding-left: 24px;
}



#main-center-row {
  width: 100%;
  max-width: 1500px;
}






