body {
  font-family: 'Play', sans-serif;
  background-color: rgb(238, 238, 238);
}

#logo {
  height: 50px;
  width: 150px;
  margin-right: 20px;
}

.nav-btn {
  font-size: 14px;
}

.nav-btn-auth {
  font-size: 14px;
}

#select-group {
  border: 1px solid rgba(0, 0, 0, 0.18);
  border-radius: 0;
}

#select-group-search {
  border: 1px solid rgba(0, 0, 0, 0.18);
  border-radius: 0;
}

.main-second {
  border: 1px solid rgba(0, 0, 0, 0.18);
  padding: 20px 20px 0 20px;
}

.main-second #current-week {
  justify-content: center;
  text-align: center;
  font-size: 15px;
}

.main-second #nav-date {
  justify-content: center;
  text-align: center;
}

.main-second #next-week {
  text-align: right;
}

.main-second #prev-week {
  text-align: left;
}

.buttons-week {
  transition-duration: 0.4s;
  text-align: center;
  font-size: 14px;
  margin-bottom: 20px;
  box-shadow: none;
  text-decoration: none;
  padding: 10px 10px;
  display: inline-block;

  color: black;
  border: 2px solid #1976D2;
  width: 175px;
  height: 40px;
  justify-content: center;
  border-radius: 0;
}

.buttons-week:hover {
  background-color: #1976D2;
  color: white;
}

.buttons-date-numerator {
  text-align: center;
  font-size: 11px;
  height: 40px;
  border: 2px solid #1976D2;
  border-radius: 0;

}

.buttons-date-numerator-mobile {
  text-align: center;
  border: 2px solid #1976D2;
  border-radius: 0;
}

.buttons-date {
  transition-duration: 0.4s;
  text-align: center;
  font-size: 12px;
  box-shadow: none;
  text-decoration: none;
  border: 2px solid #1976D2;
  border-left: white;
  color: black;
  width: 100px;
  height: 40px;
  border-radius: 0;
}

.buttons-date:hover {
  background-color: #1976D2;
  color: white;
}

.buttons-date:active {
  background-color: #1976D2;
  color: white;
}

.buttons-date #calendar {
  width: 20px;
}

#main-table-rasp {
  background-color: rgb(238, 238, 238);
  min-width: 1200px;
  border-radius: 0;
  border: 1px solid rgba(0, 0, 0, 0.18);
}

#main-table-rasp-time {
  min-width: 110px;
  width: 110px;
  max-width: 110px;
  text-align: center;
}

#main-table-lesson-cell {
  width: 250px;
  text-align: center;
  justify-content: center;
}

#main-table-splitter {
  width: available;
  height: 100%;
}

#main-table-before-cell {
  height: 50%;
  width: auto;
  padding: 7px 16px;
  margin: 0 0 0 0;
  justify-content: center;
  text-align: center;
  vertical-align: center;
  horiz-align: center;
  align-items: center;
}

#main-table-after-cell {
  height: 50%;
  width: auto;
  padding: 7px 16px;
  margin: 0 0 0 0;
  justify-content: center;
  text-align: center;
  align-items: center;
  vertical-align: center;
  horiz-align: center;
}

#lessons-type-info {
  background-color: rgb(238, 238, 238);
  border: 1px solid rgba(0, 0, 0, 0.18);
}

#lessons-type-table {
  background-color: rgb(238, 238, 238);
  border-radius: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.18);
}

.rasp-title {
}

.rasp-title .q-table__title {
  padding-top: 4px;
}

.rasp-title #selected-week {
  padding-top: 11px;
  text-align: center;
}

.rasp-title #rawLessonStringMode {
  text-align: right;
}

#footer {
  min-width: 1200px;
  margin-left: 24px;
  margin-right: 24px;
  background-color: #0a4275;
}
